@model ClientScopeListViewModel

<h2>Allowed scopes</h2>

<a asp-action="CreateScope" asp-route-clientId="@Model.ClientId">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Scope</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scope in Model.Scopes)
        {
            <tr>
                <td>@scope.Value</td>
                <td>
                    <a asp-action="DeleteScope" asp-route-clientId="@Model.ClientId" asp-route-id="@scope.Key">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>